# -*- mode: gitignore; -*-

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Temp ###
tmp/
